@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

//Variables 
$bg-form : rgba(234, 219, 208, .7);
$color-primary : rgb(234, 219, 208);


//Mixins
@mixin flexCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.form {
    background: ($bg-form);
    @include flexCenter;
    justify-content: space-evenly;
    height: 53%;
    min-width: 320px;
    border-radius: 8px;
    box-shadow: inset 5px 5px 20px 0px lighten(rgb(234, 219, 208), 5);
    &__inputs {
        display: flex;
        flex-direction: column;
        width: 95%;
        label {
            font-size: 14px;
            font-weight: 600;
            color: darken($color-primary, 70);
        }
        input {
            height: 35px;
            border: darken($color-primary, 30) 2px solid;
            border-radius: 4px;
            margin: 5px 0 15px 0;
            padding: 5px;
            outline: none;
        }
    }
}

.password-wrapper {
    position: relative;
    display: flex;
    input {
        width: 100%;
    }
    .hiding-icons {
        position: absolute;
        top: 25%;
        right: 25px;
        border: 0;
        i {
            position: absolute;
            left: 0;
            color: darken($color-primary, 30);
            font-size: 18px;
        }
        i:last-of-type {
            left: -1px;
        }
    }
}

.form__description {
    font-size: 13px;
    align-self: flex-start;
    margin-left: 5px;
    color: lighten($color-primary, 30);
    text-shadow: 5px 2px 10px #000;
}

.form__title {
    color: darken($color-primary, 60);
    font-size: 23px;
    align-self: stretch;
    margin-left: 5px;
    text-shadow: 5px 2px 10px lighten(#000, 40);
    span {
        color: $color-primary;
        text-shadow: #000;
    }
}

#remember {
    filter: hue-rotate(180deg);
}

label:last-of-type {
    color: darken($color-primary, 70);
    font-weight: 600;
}
 
.form__buttons {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}
.form__button {
    width: 47%;
    height: 50px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 7px;
    border: 0;
    transition: all .4s ease;
    &:first-of-type {
        background: darken($color-primary, 30);
        color: lighten($bg-form, 20);
        &:hover {
            color: darken($color-primary, 30);
            background: $bg-form;
        }
    }
    &:last-of-type {
        background: $bg-form;
        color: darken($color-primary, 30);
        &:hover {
            color: lighten($bg-form, 20);
            background: darken($color-primary, 30);
        }
    }
}

p:last-of-type {
    color: darken($color-primary, 50);
    font-size: 13px;
    position: relative;
    padding-bottom: 2px;
    z-index: 1;
    transition: all .4s ease-out;
    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
        content: "";
        width: 0;
        height: 10%;
        background: darken($color-primary, 50);
        transform-origin: bottom;
        transition: all .3s ease-out;
    }
    &:hover 
    {
        cursor: pointer;
        font-weight: 700;
        &::after {
            width: 100%;
        }

    }
}